<h3>Contacts</h3>
<div class="links-and-contact">
	<div class="links">
		<ul>
			<li>
				<a href="/">github</a>
			</li>
			<li>
				<a href="/">facebook</a>
			</li>
			<li>
				<a href="/">twitter</a>
			</li>
		</ul>
	</div>
	<div class="contact">
		<div>
			<form action="#">
				<label htmlFor="email">
					<h3>Email</h3>
					<input type="email" id="email" placeholder="Enter your email" />
				</label>
				<label htmlFor="message">
					<h3>Message</h3>
					<textarea id="message" placeholder="Your message"></textarea>
				</label>
				<div class="submit-button">
					<input type="submit" value="Send Message" id="submit-button" />
				</div>
			</form>
		</div>
	</div>
</div>
